@media (max-width: 280px) {
    .main-form, .main-form__layout, .formulario, .main-conta, .main-obter, .main-form__logo {
        width: 100%;
        justify-content: center;
    }

    .main-form{
        margin-top: 30px;
    }

    .main-form__logo {
        margin-left: 0;
        margin-right: 0;
        background-position: center center;
    }
    .main-form__btnentrar {
        padding: 6px 12px;
    }
    .main-form__floating-label {
        padding: 0;
        font-size: x-small;
    }
    .main-obter-layoutesq__img {
       padding: 0;
       padding-right: 1px;
    }
    .main-obter-layoutdir__img {
        padding: 0;
        padding-left: 1px;
    }
    .main__facebookfrase{
        font-size: 13px;
    }

    body{
        background-color: var(--branco);
    }
}

@media (max-width: 575.98px){
    .main-form__layout, .main-conta {
        border: 1px solid transparent;
    }
    .main, .content, .row {
        justify-content: center;
    }


    body{
        background-color: var(--branco);
    }
}

@media (max-width: 767.98px)  {

    .main {
        margin-top: 0;
        margin-bottom: 0;
    }
    .row {
        width: auto;
        justify-content: center;
    }
  
    .main__linha {
        width: 43%;
    }

}


@media (max-width: 991.98px) {
    .main__backphone, .main-phone {
        display: none;
    }
    .main-form {
        margin-left: 0;
        display: 100%;
    }
    .main {
        width: 100%;
        height: auto;
    }
    .formulario {
        justify-content: center;
    }
  

}

@media (min-width: 992px) {
    .main__linha {
        width: 37%;
    }
}

